{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="content">
            {% regroup participants by display_approval as group_list %}
            {% for group, participant_list in group_list %}
                <h4>{{ group }}</h4>
                <p>{{ participant_list|join:', ' }}</p>
            {% endfor %}
        </div>
        <div class="box">
            <form method="post">
                {% csrf_token %}

                {% with form.group as field %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="control">
                            <div class="select">
                                {{ field }}
                            </div>
                        </div>
                        {% for error in field.errors %}
                            <p class="help is-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                {% endwith %}

                {% with form.subject as field %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="control">
                            {{ field }}
                        </div>
                        {% for error in field.errors %}
                            <p class="help is-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                {% endwith %}

                {% with form.message as field %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="control">
                            {{ field }}
                        </div>
                        <p class="help">
                            {{ field.help_text|safe }}
                        </p>
                        {% for error in field.errors %}
                            <p class="help is-danger">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                {% endwith %}

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Send email</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
