{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        {% if event.registration_is_closed %}
            <div class="notification is-danger">
                {% if event.registration_status == 'pending' %}
                    {% blocktranslate with moment=event.registration_started_at trimmed %}
                        Registration is pending. It starts at {{ moment }}.
                    {% endblocktranslate %}
                {% elif event.registration_status == 'closed' %}
                    {% blocktranslate with moment=event.registration_stopped_at trimmed %}
                        Registration is closed. It stopped at {{ moment }}.
                    {% endblocktranslate %}
                {% endif %}
            </div>
        {% endif %}

        <article class="message is-info">
            <div class="message-header">{% translate "Privacy" %}</div>
            <div class="message-body">
                {% blocktranslate trimmed %}
                    We need your first and last name to identify you at our venue.
                    We need your email address to contact you before to the event.
                    We will store your full name and email address for a maximum of 3 months after the event has ended.
                    Your data will not be passed on to third parties and will be treated confidentially! After this
                    period we will delete your personal data irrevocably from our servers.
                {% endblocktranslate %}
            </div>
        </article>

        <div class="box">
            <h1 class="title">
                {% translate "Registration for event:" %} <em>{{ event.title }}</em>
            </h1>
            <form method="post">
                {% if event.registration_is_closed %}
                    <fieldset disabled>
                {% endif %}

                {% csrf_token %}

                {{ form }}

                <button type="submit" class="button is-primary">{% translate "Register" %}</button>

                {% if event.registration_is_closed %}
                    </fieldset>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
