{% extends 'base.html' %}

{% block content %}
    <div class="container is-max-desktop">
        <p class="title">Exkursionen</p>

        {% for excursion in object_list %}
            <div class="container my-3">
                <a href="{% url 'excursions:detail' excursion.pk %}">
                    <div class="box">
                        <p class="title is-size-4">{{ excursion.title }}</p>
                        <p class="subtitle is-size-6">{{ excursion.date }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
