{% extends 'base.html' %}

{% block section %}
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container is-max-desktop has-text-centered">
                <p class="title has-text-success">
                    Anmeldung erfolgreich
                </p>
                <p class="subtitle">
                    Du hast dich erfolgreich für die Exkursion angemeldet.
                </p>
                <p>
                    Wir haben dir zur Bestätigung eine E-Mail geschickt. Bitte lies diese
                    aufmerksam, da wir dir dort mitteilen, ob du einen Platz
                    als Teilnehmer:in erhalten hast oder auf der Warteliste stehst.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
