version = 1
disable_existing_loggers = false

[filters]
require_debug_false = { "()" = "django.utils.log.RequireDebugFalse" }
require_debug_true = { "()" = "django.utils.log.RequireDebugTrue" }

[formatters.simple]
format = "[{asctime}] {levelname} {message}"
style = "{"

[formatters."django.server"]
"()" = "django.utils.log.ServerFormatter"
format = "[{server_time}] {message}"
style = "{"

[handlers.console]
level = "INFO"
filters = ["require_debug_true"]
class = "logging.StreamHandler"

[handlers."django.server"]
level = "INFO"
class = "logging.StreamHandler"
formatter = "django.server"

[handlers.file]
level = "INFO"
filters = ["require_debug_false"]
class = "logging.FileHandler"
filename = "/srv/farafmb/farafmb.log"
formatter = "simple"

[handlers.requests]
level = "INFO"
class = "logging.FileHandler"
filename = "/srv/farafmb/requests.log"
formatter = "simple"

[handlers.mail_admins]
level = "ERROR"
filters = "require_debug_false"
class = "django.utils.log.AdminEmailHandler"

[loggers.django]
handlers = ["console", "file", "mail_admins"]
level = "INFO"

[loggers."django.server"]
handlers = ["django.server", "file"]
level = "INFO"
propagate = false

[loggers."farafmb.middleware"]
handlers = ["requests"]
level = "INFO"
