{% extends 'blog/base.html' %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container">
            {{ snippet.html|safe }}
            {% if image %}
                <div uk-lightbox>
                    <a href="{{ image.file.url }}" data-caption="{{ image.title }}">
                        <img data-src="{{ image.file.url }}" width="{{ image.file.width }}" height="{{ image.file.height }}" alt="{{ image.title }}" uk-img>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}