{% extends 'base.html' %}

{% load i18n %}

{% block section %}
    <section class="section">
        <div class="container is-max-desktop">
            {% if user.is_authenticated %}
                <div class="tabs">
                    <ul>
                        {% block tabs %}
                            <li>
                                <a href="{% url 'consultations:consultation-create' %}">
                                    <span class="icon is-small"><i class="fas fa-pen" aria-hidden="true"></i></span>
                                    <span>{% trans "New" %}</span>
                                </a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}
