{% extends 'consultations/base.html' %}

{% load i18n %}

{% block tabs %}
    {{ block.super }}

    {% if is_update %}
        <li>
            <a href="{% url 'consultations:consultation-update' consultation.pk %}">
                <span class="icon is-small"><i class="fas fa-pen" aria-hidden="true"></i></span>
                <span>{% trans "Update" %}</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content">
        <h1>
            {% if is_update %}
                {% trans "Update consultation" %}
            {% else %}
                {% trans "Create consultation" %}
            {% endif %}
        </h1>
    </div>

    <form method="POST">
        {% csrf_token %}

        {{ form }}

        <div class="field is-grouped">
            {% if is_update %}
                <div class="control">
                    <button type="submit" class="button is-primary">{% trans "Update" %}</button>
                </div>

                <div class="control">
                    <a class="button is-danger" href="{% url 'consultations:consultation-delete' consultation.pk %}">
                        {% trans "Delete" %}
                    </a>
                </div>
            {% else %}
                <div class="control">
                    <button type="submit" class="button is-primary">{% trans "Create" %}</button>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
