{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="notification is-info">
            {% blocktranslate %}
            Due to the <a href="https://www.ovgu.de/unimagdeburg_media/Universität/Dokumente+und+Formulare/Dienstanweisung+des+Rektorats+zu+den+Neuregelungen+des+IfSG+24_03_2022-p-98092.pdf">rector's office instruction</a>
            of the <a href="https://www.ovgu.de"><abbr title="Otto von Guericke University">OVGU</abbr></a>
            and the discontinuation of the 3G regulation, we will offer office
            hours in person again in the summer semester 2022. Please note
            that you will still have to wear a mask in the buildings. More
            information about the measures and regulations can be found in the
            <a href="https://www.ovgu.de/stufenplan.html">gradual plan</a>,
            which is updated regularly.
            {% endblocktranslate %}
        </div>

        {% if data %}
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>{% translate "Time" %}</th>
                        {% for day in days %}
                            <th>{{ day.1 }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for time, qs_list in data.items %}
                        <tr>
                            <th>{{ time }}</th>
                            {% for qs in qs_list %}
                                <td>
                                    <ul>
                                        {% for member in qs %}
                                            <li>{{ member }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="help is-hidden-desktop" style="margin-top: -24px">
                {% translate "The table can be moved sideways." %}
            </p>
        {% else %}
            <div class="notification is-warning">
                {% url 'blog:contact' as contact_url %}
                {% blocktranslate %}
                    Unfortunately, we do not currently offer office hours.
                    However, you are welcome to write us a message.
                    If necessary, we can arrange a personal appointment.
                    You can find our contact details under
                    <a href="{{ contact_url }}">Contact</a>.
                {% endblocktranslate %}
            </div>
        {% endif %}
    </div>
{% endblock %}
