{% extends 'consultations/base.html' %}

{% load i18n %}

{% block content %}
    <h3 class="title is-3">{% trans "Office hours" %}</h3>

    {% if data %}
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>{% translate "Time" %}</th>
                    {% for day, display in days %}
                        <th>{{ display }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item_list in data %}
                    <tr>
                        {% for item in item_list %}
                            <td>
                                {% if forloop.first %}
                                    {{ item }}
                                {% else %}
                                    {% for cons in item %}
                                        {{ cons }}<br/>
                                        ({{ cons.start }} - {{ cons.end }})
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="help is-hidden-desktop" style="margin-top: -24px">
            {% translate "The table can be moved sideways." %}
        </p>
    {% else %}
        <div class="notification is-warning">
            {% url 'blog:contact' as contact_url %}
            {% blocktranslate %}
                Unfortunately, we do not currently offer office hours.
                However, you are welcome to write us a message.
                If necessary, we can arrange a personal appointment.
                You can find our contact details under
                <a href="{{ contact_url }}">Contact</a>.
            {% endblocktranslate %}
        </div>
    {% endif %}
{% endblock %}
