{{ errors }}

{% if errors and not fields %}
    <div>
        {% for field in hidden_fields %}
            {{ field }}
        {% endfor %}
    </div>
{% endif %}

{% for field, errors in fields %}
    <div class="field">
        {% if field.label %}
            {{ field.label_tag }}
        {% endif %}

        <div class="control">
            {{ field }}
        </div>

        {% if field.help_text %}
            {{ field.help_text|safe }}
        {% endif %}

        {{ errors }}
    </div>
{% endfor %}

{% if not fields and not errors %}
    {% for field in hidden_fields %}
        {{ field }}
    {% endfor %}
{% endif %}
