{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container">
        <article class="message is-success">
            <div class="message-header">
                {% trans "You have been successfully registered as a helper" %}
            </div>
            <div class="message-body">
                {% blocktrans %}
                    We will contact you via email in the next weeks with further information.
                {% endblocktrans %}
            </div>
        </article>
    </div>
{% endblock %}
