{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="title">
        {% trans "Registration as helper" %}
        <span class="tag is-warning">{% trans "Preview" %}</span>
    </h1>

    <div class="notification is-warning">
        {% trans "This form is not yet publicly visible." %}
    </div>

    <article class="message is-info">
        <div class="message-header">
            <p>{% trans "Privacy" %}</p>
        </div>
        <div class="message-body">
            {% blocktrans %}
                We use your full name for identification purposes. We use your email address to contact you and send you
                information. We need your mobile number to reach you at short notice and to connect you with the other
                helpers in a group.
            {% endblocktrans %}
        </div>
    </article>

    <div class="box">
        <form method="post">

            {% csrf_token %}

            <div class="columns is-multiline">

                <div class="column is-half">
                    <div class="field">
                        <label class="label"
                               for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>

                        <div class="control">
                            {{ form.first_name }}
                        </div>

                        {% for error in form.first_name.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <label class="label"
                               for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>

                        <div class="control">
                            {{ form.last_name }}
                        </div>

                        {% for error in form.last_name.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <label class="label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>

                        <div class="control">
                            {{ form.email }}
                        </div>

                        <p class="help">{{ form.email.help_text }}</p>

                        {% for error in form.email.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="column is-half">
                    <div class="field">
                        <label class="label" for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>

                        <div class="control">
                            {{ form.phone }}
                        </div>

                        <p class="help">{{ form.phone.help_text }}</p>

                        {% for error in form.phone.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="column is-full">
                    <div class="field">
                        <label class="label" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>

                        <div class="control">
                            {{ form.comment }}
                        </div>

                        {% for error in form.comment.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="field">
                <label class="label" for="{{ form.privacy.id_for_label }}">{{ form.privacy.label }}</label>
                <div class="control">
                    <label class="checkbox">
                        {{ form.privacy }}
                        {% blocktrans %}
                            I have read the <a href="https://stura-md.de/datenschutz/">privacy policy</a> and agree
                            to the processing of my personal data.
                        {% endblocktrans %}
                    </label>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit">{% trans "Register" %}</button>
                </div>
            </div>

            {% for error in form.non_field_errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

        </form>
    </div>
{% endblock %}
