{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <p class="title">
        {{ helper.full_name }}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </p>

    <div class="field">
        <label class="label">{% trans "Email address" %}</label>
        <div class="control">
            <input class="input" type="email" value="{{ helper.email }}" disabled>
        </div>
    </div>

    <div class="field">
        <label class="label">{% trans "Mobile number" %}</label>
        <div class="control">
            <input class="input" type="text" value="{{ helper.phone }}" disabled>
        </div>
    </div>

    <div class="field">
        <label class="label">{% trans "Comment" %}</label>
        <div class="control">
            <textarea class="textarea" rows="5" disabled>{{ helper.comment }}</textarea>
        </div>
    </div>

    <p class="block">{% trans "Registered at" %} {{ helper.created_at }}</p>

    <div class="buttons">
        <a href="{% url 'mentoring:helper-list' %}" class="button">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>{% trans "Back" %}</span>
        </a>
    </div>
{% endblock %}
