{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="title">
        {% trans "List of all mentors" %}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </h1>

    <div class="buttons">
        <a href="{% url 'mentoring:create-mentor' %}" class="button is-rounded">{% trans "Show form" %}</a>
    </div>

    {% for mentor in object_list %}
        {{ mentor }}
    {% empty %}
        <div class="notification is-info">
            {% trans "No mentors have registered yet." %}
        </div>
    {% endfor %}
{% endblock %}
