{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% include 'components/page-title.html' with title=mentor.full_name status='private' %}

    <div class="field">
        <label class="label">{% trans "Email address" %}</label>
        <div class="control">
            <input class="input" type="email" value="{{ mentor.email }}" disabled>
        </div>
    </div>

    <div class="field">
        <label class="label">{% trans "Mobile number" %}</label>
        <div class="control">
            <input class="input" type="text" value="{{ mentor.phone }}" disabled>
        </div>
    </div>

    <div class="field">
        <label class="label">{% trans "Study program" %}</label>
        <div class="control">
            <input class="input" type="text" value="{{ mentor.program }}" disabled>
        </div>
    </div>

    <p class="block">{% trans "Registered at" %} {{ mentor.created_at }}</p>

    <div class="buttons">
        <a href="{% url 'mentoring:mentor-list' %}" class="button">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>{% trans "Back" %}</span>
        </a>
    </div>
{% endblock %}
