{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="title">
        {% trans "List of all mentors" %}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </h1>

    <div class="buttons">
        <a href="{% url 'mentoring:mentor-create' %}" class="button is-rounded">{% trans "Show form" %}</a>
        <a href="{% url 'mentoring:mentor-list-export' %}" class="button is-rounded">{% trans "Export mentors" %}</a>
    </div>

    <nav class="panel">
        <p class="panel-heading">
            {% trans "Mentors" %}
        </p>
        {% for mentor in object_list %}
            <a href="{% url 'mentoring:mentor-detail' mentor.pk %}" class="panel-block">{{ mentor }}</a>
        {% empty %}
            <p class="panel-block">{% trans "No mentors have registered yet." %}</p>
        {% endfor %}
    </nav>
{% endblock %}
