{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="title">
        {% trans "List of all mentors" %}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </h1>

    <div class="buttons">
        <a href="{% url 'mentoring:mentor-create' %}" class="button is-rounded">{% trans "Show form" %}</a>
        <a href="{% url 'mentoring:mentor-list-export' %}" class="button is-rounded">{% trans "Export mentors" %}</a>
    </div>

    {% regroup object_list by registration as registration_list %}
    {% for registration, connected_mentors in registration_list %}
        <nav class="panel">
            <p class="panel-heading">
                {{ registration }}
            </p>
            {% for mentor in connected_mentors %}
                <a href="{% url 'mentoring:mentor-detail' mentor.pk %}" class="panel-block">{{ mentor }}</a>
            {% endfor %}
        </nav>
    {% empty %}
        <div class="notification">{% trans "No mentors have registered yet." %}</div>
    {% endfor %}
{% endblock %}
