{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <p class="title">
        {% trans "List of all programs" %}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </p>

    <div class="buttons">
        <a href="{% url 'mentoring:program-create' %}" class="button is-rounded">{% trans "Add a program" %}</a>
    </div>

    <article class="message is-info">
        <div class="message-body">
            {% blocktrans %}
                You can delete a study program by selecting it.
            {% endblocktrans %}
        </div>
    </article>

    <nav class="panel">
        <p class="panel-heading">
            {% trans "Study programs" %}
        </p>
        {% for program in object_list %}
            <a href="{% url 'mentoring:program-delete' program.pk %}" class="panel-block">{{ program }}</a>
        {% empty %}
            <p class="panel-block">{% trans "No study programs have been created yet." %}</p>
        {% endfor %}
    </nav>
{% endblock %}
