{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% trans "Add a study program" as page_title %}
    {% include 'components/page-title.html' with title=page_title status='private' %}

    <div class="box">
        <form method="post">

            {% csrf_token %}

            <div class="field">
                <label class="label"
                       for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                <div class="control">
                    {{ form.name }}
                </div>
                {% for error in form.name.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit">{% trans "Create" %}</button>
                </div>
            </div>

            {% for error in form.non_field_errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

        </form>
    </div>
{% endblock %}
