{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% trans "Delete a registration" as page_title %}
    {% include 'components/page-title.html' with title=page_title status='private' %}

    <article class="message is-danger">
        <div class="message-body">
            {% blocktrans %}
                Please note that deleting the registration will also irrevocably delete all registered mentors who have
                a connection to it.
            {% endblocktrans %}
        </div>
    </article>

    <p class="block">
        {% blocktrans %}
            Are you sure you want to delete <strong>{{ object }}</strong>?
        {% endblocktrans %}
    </p>

    <div class="block">
        <form method="post">

            {% csrf_token %}

            <div class="buttons">
                <button type="submit" class="button is-danger">{% trans "Confirm" %}</button>
                <a href="{% url 'mentoring:registration-list' %}" class="button">{% trans "Cancel" %}</a>
            </div>

        </form>
    </div>
{% endblock %}
