{% extends 'base.html' %}

{% load i18n %}

{% block content-fullwidth %}
    {% trans "Add a registration" as page_title %}
    {% include 'components/page-title.html' with title=page_title status='private' %}

    <div class="columns">

        <div class="column">

            {% if form.non_field_errors %}
                <div class="notification is-danger is-light">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="box">
                <form method="post">

                    {% csrf_token %}

                    <div class="field">
                        <label class="label"
                               for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="control">
                            {{ form.name }}
                        </div>
                        {% for error in form.name.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="field">
                        <label class="label"
                               for="{{ form.started_at.id_for_label }}">{{ form.started_at.label }}</label>
                        <div class="control">
                            {{ form.started_at }}
                        </div>
                        {% for error in form.started_at.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="field">
                        <label class="label"
                               for="{{ form.stopped_at.id_for_label }}">{{ form.stopped_at.label }}</label>
                        <div class="control">
                            {{ form.stopped_at }}
                        </div>
                        {% for error in form.stopped_at.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">{% trans "Create" %}</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

        {% if registration_list %}
            <div class="column is-narrow">

                {% for registration in registration_list %}
                    <p class="is-size-5"><strong>{{ registration.name }}</strong></p>
                    <p>
                        <span class="icon-text">
                            <span class="icon"><i class="fas fa-lock-open"></i></span>
                            <span>{{ registration.started_at }}</span>
                        </span>
                    </p>
                    <p>
                        <span class="icon-text">
                            <span class="icon"><i class="fas fa-lock"></i></span>
                            <span>{{ registration.stopped_at }}</span>
                        </span>
                    </p>
                {% endfor %}

            </div>
        {% endif %}

    </div>
{% endblock %}
