{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <p class="title">
        {% trans "List of all registrations" %}
        <span class="tag is-danger">{% trans "Private" %}</span>
    </p>

    <div class="buttons">
        <a href="{% url 'mentoring:registration-create' %}" class="button is-rounded">{% trans "Add a registration" %}</a>
    </div>

    <article class="message is-info">
        <div class="message-body">
            {% blocktrans %}
                You can delete a registration by selecting it.
            {% endblocktrans %}
        </div>
    </article>

    <nav class="panel">
        <p class="panel-heading">
            {% trans "Registrations" %}
        </p>
        {% for registration in object_list %}
            <a href="{% url 'mentoring:registration-delete' registration.pk %}" class="panel-block">{{ registration }}</a>
        {% empty %}
            <p class="panel-block">{% trans "No registrations have been created yet." %}</p>
        {% endfor %}
    </nav>
{% endblock %}
