{% extends 'accounts/base_accounts.html' %}

{% load i18n %}

{% block content_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="notification is-danger">
            {% if form.errors.items|length == 1 %}
                Bitte korrigiere den unten aufgeführten Fehler.
            {% else %}
                Bitte korrigiere die unten aufgeführten Fehler.
            {% endif %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            <div class="control">
                {{ form.old_password }}
            </div>
            {% for error in form.old_password.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            <div class="control">
                {{ form.new_password1 }}
            </div>
            {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
            {% for error in form.new_password1.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            <div class="control">
                {{ form.new_password2 }}
            </div>
            {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
            {% for error in form.new_password2.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <button class="button is-primary" type="submit">Passwort ändern</button>
    </form>
{% endblock %}
