{% extends 'accounts/base_auth.html' %}

{% load i18n %}

{% block notification %}
    {% if not validlink %}
        <div class="notification is-danger">
            {% blocktrans %}
                Your password reset link is invalid, probably because you have
                already used it once. Please reset your password again.
            {% endblocktrans %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="post">

            {% csrf_token %}

            <input name="username" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">

            <div class="field">
                <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                <div class="control">
                    {{ form.new_password1 }}
                </div>
                {% for error in form.new_password1.errors %}
                    <p class="help is-danger">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <div class="field">
                <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                <div class="control">
                    {{ form.new_password2 }}
                </div>
                {% for error in form.new_password2.errors %}
                    <p class="help is-danger">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <button class="button is-primary" type="submit">Passwort ändern</button>


        </form>
    {% else %}
        <a class="button is-primary is-fullwidth"
           href="{% url 'accounts:password_reset' %}">{% trans "To password reset" %}</a>
    {% endif %}
{% endblock %}
