@media only screen and (max-device-width : 1024px) {
    .button.is-multiline {
        min-height: 2.25em;
        white-space: unset;
        height: auto;
        flex-direction: column;
    }

    .button.is-multiline span {
        margin: 0 !important;
    }

    .navigation {
        margin: 0 -24px;
        padding: 0 24px;
        background-color: #f5f5f5;
    }

    a.menu-burger {
        display: block !important;
        text-align: center;
        padding: 5px;
    }

    #adminNavigation {
        display: none;
    }

    #adminNavigation.is-active {
        display: block;
    }
}

a.menu-burger {
    display: none;
}

.checklist {
    list-style-type: none !important;
}

.footer {
    color: white;
    background-color: #192c5b;
}

.footer strong {
    color: white;
}

.footer h4 {
    color: #ababab;
    margin-bottom: 0.7rem;
}

.footer p {
    margin-bottom: 0.7rem;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #009ee3;
}

.footer .legal {
    text-align: end;
}

.footer .legal a {
    margin-right: 2rem;
}

.footer .legal > small > span {
    color: #ababab;
}
