{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Zeit</th>
                {% for day in days %}
                    <th>{{ day.1 }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for time, qs_list in data.items %}
                <tr>
                    <th>{{ time }}</th>
                    {% for qs in qs_list %}
                        <td>
                            <ul>
                                {% for member in qs %}
                                    <li>{{ member }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
