{% extends 'merchandise/base.html' %}

{% load i18n %}

{% block tabs %}
    {{ block.super }}

    <li>
        <a href="{% url 'merchandise:order-view' order.pk %}">
            <span class="icon is-small"><i class="fas fa-id-badge" aria-hidden="true"></i></span>
            <span>{% trans "Details" %}</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <h1 class="title">{{ order.full_name }}</h1>
    <h3 class="subtitle">{{ order.email }}</h3>

    <div class="content">
        <p>{% trans "Ordered sizes:" %}</p>

        <ul>
            {% for size, amount in order.items.items %}
                <li>{{ amount }}x {{ size }}</li>
            {% endfor %}
        </ul>

        <p>{% trans "Is verified" %}: {{ order.is_verified|yesno }}</p>

        <p>{% trans "Ordered at" %} {{ order.created_at }}</p>
    </div>

    <div class="buttons">
        <a class="button is-primary" href="{% url 'merchandise:order-update' order.pk %}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-wrench"></i>
                </span>

                <span>{% trans "Update" %}</span>
            </span>
        </a>

        <a class="button is-danger" href="{% url 'merchandise:order-delete' order.pk %}">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>

                <span>{% trans "Delete" %}</span>
            </span>
        </a>
    </div>
{% endblock %}
