{% extends 'merchandise/base.html' %}

{% load i18n static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="notification is-danger is-light">
            {% url 'merchandise:order-list' as admin_url %}
            {% blocktrans with url=admin_url %}
                <strong>Administration:</strong> To show details about each order <a href="{{ url }}">click here</a>
            {% endblocktrans %}
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="notification is-danger is-light">
            {% blocktrans %}
                Your submitted data contains some validation errors. Please correct them.
            {% endblocktrans %}
        </div>
    {% endif %}

    <div class="content">
        {% blocktrans %}
            <h3>✨ Rhinoletten ✨</h3>

            <p>
                The bath slippers with the FaRaFMB logo are perfect for daily use in the apartment, on the road when
                traveling or simply on the way to university - the simple design makes it possible.
            </p>

            <p>
                To place an order, enter your details directly into the form here. The price per pair will be a maximum
                of 30 €, but will be reduced the more orders we receive. A collective order will be placed at the
                earliest when we have reached a minimum of 30 orders.
            </p>

            <p>
                If you have any questions, write us on social media, by email or stop by the office.
            </p>

            <p>
                We look forward to having many Rhinoletten in your possession soon!
            </p>
        {% endblocktrans %}
    </div>

    <div class="columns">
        <div class="column">
            {% static 'img/rhinoletten.png' as shoe_img_url %}
            {% include 'components/image_viewer.html' with id='image-shoes' url=shoe_img_url alt='Rhinoletten' ratio='is-square' %}
        </div>

        <div class="column">
            {% static 'img/rhinoletten_sizes.png' as sizes_img_url %}
            {% include 'components/image_viewer.html' with id='image-sizes' url=sizes_img_url alt='Sizes' ratio='is-square' %}
        </div>
    </div>

    <h5 class="title is-5">{% trans "Orders" %} ({{ stats.percentage }} %)</h5>

    <progress class="progress is-large" value="{{ stats.value }}" max="{{ stats.max }}">{{ stats.percentage }} %
    </progress>

    <h5 class="title is-5">{% trans "Registration" %}</h5>

    <article class="message is-info">
        <div class="message-header">{% trans "Privacy" %}</div>
        <div class="message-body">
            {% blocktrans %}
                We use your name to identify you. Your email address is used to verify your order and send you
                information about shipping. Your data will be treated confidentially and not be passed on to third
                parties! After you received your items we will delete your personal data irrevocably from our servers.
                By submitting this form you accept our privacy statement and agree to the processing of your personal
                data.
            {% endblocktrans %}
        </div>
    </article>

    <form method="POST">
        {% csrf_token %}

        {{ form }}

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">{% trans "Order" %}</button>
            </div>
        </div>
    </form>

    <script type="application/javascript">
        (document.querySelectorAll('label.checkbox') || []).forEach((node) => {
            let element = document.createElement('span');
            node.appendChild(element).textContent = node.querySelector('input').dataset.text;
        });
    </script>
{% endblock %}
