{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="box columns">
            {% if image %}
                <div class="column">
                    <figure class="image">
                        <img src="{{ image.file.url }}" height="200" alt="{{ image.title }}">
                    </figure>
                </div>
            {% endif %}

            <div class="column content">
                {{ snippet.render|safe }}
            </div>
        </div>
    </div>
{% endblock %}
