{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Blog" %}{% endblock %}

{% block section %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">{# Content #}
                    {% block content %}{% endblock %}
                </div>

                <div class="column is-one-quarter">{# Sidebar #}
                    <div class="box">
                        <h4 class="title is-4 mb-2">Sitzungstermine</h4>
                        <ul>
                            {% for meeting in meetings %}
                                <li>{{ meeting.date|date:'d. F Y' }}</li>
                            {% empty %}
                                <li>Aktuell sind keine Sitzungen geplant.</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="box">
                        <h4 class="title is-4 mb-2">{% trans "Office hours" %}</h4>

                        {% regroup consultations by get_day_display as day_list %}
                        <ul>
                            {% for day, consultation_this_day in day_list %}
                                <li><strong>{{ day }}</strong></li>

                                <ul>
                                    {% for consultation in consultation_this_day %}
                                        <li>
                                            {{ consultation.start }} - {{ consultation.end }} | {{ consultation.text }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% empty %}
                                <li>{% trans "We do not currently offer office hours." %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
