{% load static %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fachschaftsrat Maschinenbau</title>

        <link rel="stylesheet" href="{% static 'blog/css/uikit.min.css' %}" />
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}" />

        <script src="{% static 'blog/js/uikit.min.js' %}"></script>
        <script src="{% static 'blog/js/uikit-icons.min.js' %}"></script>

        <script src="{% static 'blog/js/font-awesome.min.js' %}"></script>
    </head>
    <body>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            {% include 'blog/components/navigation.html' %}
        </div>

        {% block content %}{% endblock %}
    </body>
</html>