{% extends 'base.html' %}

{% block content %}
    <h3 class="title">Diese Seite ist umgezogen!</h3>

    <div class="content">
        <p>
            Du findest die Anmeldung zu unseren Exkursionen von nun an unter
            <a href="https://klubhaus.farafmb.de">klubhaus.farafmb.de</a>.
        </p>
        <p>
            Das FaRaFMB Klubhaus beinhaltet nicht nur die Anmeldung zu unseren Exkursionen, sondern wir benutzten es
            auch für die Anmeldung zu unseren Turnieren oder bei der Suche nach freiwilligen Helfern für unsere
            vielzähligen Veranstaltungen. Außerdem kannst du ebenfalls unsere Merchandise-Produkte direkt übers
            Klubhaus bestellen.
        </p>
        <p>
            Die Anmeldung im Klubhaus ist kostenfrei und ermöglicht dir alle unsere Angebote zentral an einem Ort zu
            finden. Für deine Anmeldung brauchst du lediglich eine studentische E-Mail-Adresse der
            Otto-von-Guericke-Universität Magdeburg. Für die Exkursionen benötigen wir außerdem deine Mobilnummer und
            deine Matrikelnummer. Am besten gibst du diese gleich zu Beginn bei der Registrierung mit an, da sonst bei
            späterer Ergänzung diese erst durch eines unserer Mitglieder freigegeben werden müssen.
        </p>
        <p>
            <strong>Des Weiteren gibt es eine wichtige Neuerung bei der Anmeldung zu unseren Exkursionen.</strong> Wir
            vergeben die Plätze nicht mehr länger nach dem Prinzip <em>First Come First Server</em>. Stattdessen erfolgt
            eine zufällige Auslosung unter allen Anmeldungen, damit es für alle möglichst fair ist. Ergänzend hierzu sei
            aber gesagt, dass je nach Exkursion einige Leute vorausgewählt werden. Dies können z. Bsp. Studierende sein,
            die bisher keine Exkursion besucht haben und noch dringend eine für ihr Studium benötigen. Bei Exkursionen,
            wo wir für die Anreise Autofahrer suchen, welche Fahrgemeinschaften bilden werden wir diese ebenfalls
            bevorzugt zur Exkursion zulassen. Damit soll sichergestellt werden, dass wir alle Teilnehmer auch zum
            Ausflugsziel befördert kriegen.
        </p>
    </div>
{% endblock %}
