{% extends 'base.html' %}

{% block content %}
    <h3 class="title">Diese Seite ist umgezogen!</h3>

    <div class="content">
        <p>
            Du findest unser Merchandise-Angebot von nun an unter
            <a href="https://klubhaus.farafmb.de">klubhaus.farafmb.de</a>.
            Dort kannst du nicht nur unsere gesamte Produktvielfalt anschauen, sondern auch gleich deine Lieblingsstücke
            direkt bestellen.
        </p>
        <p>
            Das FaRaFMB Klubhaus beinhaltet nicht nur unseren Merchandise-Shop, sondern wir benutzten es auch zur
            Anmeldung bei Exkursionen oder Turnieren sowie bei der Suche nach freiwilligen Helfern für unsere
            vielzähligen Veranstaltungen.
        </p>
        <p>
            Die Anmeldung im Klubhaus ist kostenfrei und ermöglicht dir alle unsere Angebote zentral an einem Ort zu
            finden. Für deine Anmeldung brauchst du lediglich eine studentische E-Mail-Adresse der
            Otto-von-Guericke-Universität Magdeburg.
        </p>
    </div>
{% endblock %}
