{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <!-- Main feed -->
        <div class="column is-three-quarters">
            {% for obj in object_list %}
            <div class="box">
                <p class="title is-4">{{ obj.title }}</p>
                <p class="subtitle"><small>{{ obj.updated }}</small></p>

                <div class="columns is-centered is-vcentered">
                    {% if obj.image %}
                    <div class="column">
                        <figure class="image">
                            <img src="{{ obj.image.file.url }}" alt="{{ obj.image.title }}">
                        </figure>
                    </div>
                    {% endif %}

                    {% if obj.video %}
                    <div class="column">
                        <video controls>
                            <source src="{{ obj.video.file.url }}" type="video/mp4">
                            Dein Browser unterstützt leider nicht das Abspielen von Videos.
                        </video>
                    </div>
                    {% endif %}
                </div>

                <div class="content">
                    {{ obj.render|safe }}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Sidebar -->
        <div class="column">
            <div class="box">
                <h4 class="title is-4 mb-2">Sitzungstermine</h4>
                <ul>
                    {% for meeting in meetings %}
                    <li>{{ meeting.date|date:'d. F Y' }}</li>
                    {% empty %}
                    <li>Aktuell sind keine Sitzungen geplant.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
