{% extends 'layout.html' %}

{% block content %}
<div class="uk-container uk-container-small">
    <a class="uk-button uk-button-secondary"
       href="{% url 'blog:post_year_archive' request.resolver_match.kwargs.year %}">
        <i class="fas fa-arrow-circle-left"></i> Jahre
    </a>

    {% for date in date_list %}
    <a class="uk-button uk-button-default" href="{% url 'blog:post_day_archive' date.year date.month date.day %}">{{ date|date:'d' }}</a>
    {% endfor %}

    {% for obj in object_list %}
    {% include 'blog/components/post.html' %}
    {% endfor %}
</div>
{% endblock %}
