{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="notification is-success">
        <h1 class="title is-4">Du hast dein Protokoll erfolgreich eingereicht.</h1>
        <h3 class="subtitle is-6">Dafür danken dir herzlichst!</h3>
        <p>
            Du bist dadurch auch bereits in unserem Los-Topf für das aktuelle Semester. Am Ende jedes Semesters verlosen
            wir unter allen eingereichten Personen kleine Geschenke im Wert von 10 bis 15 €. Dabei bekommt die Person
            mit den meisten eingereichten Protokollen in jedem Fall ein Geschenk. Unter den übrigen Personen losen wir
            3 weitere Personen aus, welche ebenfalls von uns ein Geschenk erhalten.<br>
            Solltest du bei der Verlosung gezogen werden benachrichtigen wir dich umgehend per E-Mail.
        </p>
    </div>
</div>
{% endblock %}