<div class="uk-navbar-dropdown-grid uk-child-width-1-4" uk-grid>
    <div>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Social Media</li>

            <li>
                <a href="https://www.instagram.com/farafmb_ovgu/" target="_blank">
                    <i class="fab fa-instagram fa-fw"></i> Instagram
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/farafmb" target="_blank">
                    <i class="fab fa-facebook fa-fw"></i> Facebook
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Struktur</li>

            <li>
                <a href="https://www.ovgu.de" target="_blank">
                    <i class="fas fa-university fa-fw"></i> Universität
                </a>
            </li>

            <li>
                <a href="https://www.fmb.ovgu.de" target="_blank">
                    <i class="fas fa-school fa-fw"></i> Fakultät
                </a>
            </li>

            <li>
                <a href="https://stura-md.de" target="_blank">
                    <i class="fas fa-home fa-fw"></i> Studierendenrat
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Nützliches</li>

            <li>
                <a href="https://wiki.faking.cool">
                    <i class="fas fa-book fa-fw"></i> Wikipedia
                </a>
            </li>

            <li>
                <a href="https://cloud.faking.cool">
                    <i class="fas fa-cloud fa-fw"></i> Nextcloud
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">Rechtliches</li>

            <li>
                <a href="https://stura-md.de/impressum/" target="_blank">
                    <i class="fas fa-stamp fa-fw"></i> Impressum
                </a>
            </li>

            <li>
                <a href="https://stura-md.de/datenschutz/" target="_blank">
                    <i class="fas fa-user-secret fa-fw"></i> Datenschutz
                </a>
            </li>
        </ul>
    </div>
</div>