<div class="uk-background-muted">
    <div class="uk-container">
        <div class="uk-child-width-1-4@s" uk-grid>
            <div class="uk-padding">
                <div class="uk-panel">
                    <p class="uk-text-lead">Social Media</p>

                    <ul class="uk-list uk-link-text">
                        <li>
                            <i class="fab fa-instagram fa-fw"></i>
                            <a href="https://www.instagram.com/farafmb_ovgu/" target="_blank">Instagram</a>
                        </li>

                        <li>
                            <i class="fab fa-facebook fa-fw"></i>
                            <a href="https://www.facebook.com/farafmb" target="_blank">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-padding">
                <div class="uk-panel">
                    <p class="uk-text-lead">Struktur</p>

                    <ul class="uk-list uk-link-text">
                        <li>
                            <i class="fas fa-university fa-fw"></i>
                            <a href="https://www.ovgu.de" target="_blank">Universität</a>
                        </li>

                        <li>
                            <i class="fas fa-school fa-fw"></i>
                            <a href="https://www.fmb.ovgu.de" target="_blank">Fakultät</a>
                        </li>

                        <li>
                            <i class="fas fa-home fa-fw"></i>
                            <a href="https://stura-md.de" target="_blank">Studierendenrat</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-padding">
                <div class="uk-panel">
                    <p class="uk-text-lead">Nützliches</p>

                    <ul class="uk-list uk-link-text">
                        <li>
                            <i class="fas fa-book fa-fw"></i>
                            <a href="https://wiki.faking.cool">Wikipedia</a>
                        </li>

                        <li>
                            <i class="fas fa-cloud fa-fw"></i>
                            <a href="https://cloud.faking.cool">Nextcloud</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-padding">
                <div class="uk-panel">
                    <p class="uk-text-lead">Rechtliches</p>

                    <ul class="uk-list uk-link-text">
                        <li>
                            <i class="fas fa-stamp fa-fw"></i>
                            <a href="https://stura-md.de/impressum/" target="_blank">Impressum</a>
                        </li>

                        <li>
                            <i class="fas fa-user-secret fa-fw"></i>
                            <a href="https://stura-md.de/datenschutz/" target="_blank">Datenschutz</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>