{% load static %}

<nav class="uk-navbar-container" uk-navbar style="background-color: #009EE3">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a href="{% url 'blog:posts' %}">Blog</a>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo" href="{% url 'blog:index' %}">
            <img data-src="{% static 'blog/img/logo.svg' %}" width="50" height="50" alt="Logo" uk-img="">
        </a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Links</a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-5">
                    {% include 'blog/components/footer.html' %}
                </div>
            </li>

            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'admin:index' %}">Admin</a>
                {% else %}
                    <a href="{% url 'admin:login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

