<div class="field">
    <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    <div class="control">
        <div class="file has-name is-fullwidth">
            <label class="file-label">
                {{ field }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Datei auswählen ...
                    </span>
                </span>
                <span class="file-name">
                    Keine Datei ausgewählt.
                </span>
            </label>
        </div>
    </div>
    {% if field.help_text %}
    <p class="help">{{ field.help_text }}</p>
    {% endif %}
    {% for error in field.errors %}
    <p class="help is-danger">
        {{ error }}
    </p>
    {% endfor %}
</div>
