{% extends 'base.html' %}

{% load static %}

{% block body %}
<section class="hero is-fullheight has-background-light">
    <div class="columns is-centered">
        <div class="column is-full is-two-thirds-tablet is-two-fifths-desktop is-one-quarter-fullhd m-3">
            <figure class="image is-128x128 mx-auto my-5">
                <a href="/">
                    <img src="{% static 'img/logo.png' %}">
                </a>
            </figure>

            {% block notification %}{% endblock %}

            {% block description %}{% endblock %}

            {% block form %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}
