{% extends 'registration/base.html' %}

{% block notification %}
<div class="notification is-success">
    <div class="content">
        <p>
            Wir haben eine E-Mail zum Zurücksetzen des Passwortes an
            die hinterlegte E-Mail-Adresse gesendet, <strong>sofern
            ein entsprechendes Konto existiert</strong>.
        </p>
        <p>
            Bitte überprüfe auch deinen Spam-Ordner, falls du keine E-Mail in deinem
            Posteingang finden kannst. Solltest du keine E-Mail erhalten haben war
            der angegebene Benutzername nicht korrekt.
        </p>
    </div>
</div>
{% endblock %}
