{% extends 'registration/base.html' %}

{% block notification %}
{% if not validlink %}
<div class="notification is-danger">
    <div class="content">
        <p>
            Der Link zum Zurücksetzen deines Passworts ist ungültig, wahrscheinlich weil
            du ihn bereits einmal benutzt hast. Bitte setze dein Passwort erneut zurück.
        </p>

        <a class="button is-link" href="{% url 'password_reset' %}">Zum Formular</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block description %}
{% if validlink %}
<article class="message is-info">
    <div class="message-body">
        Bitte gib dein neues Passwort zweimal ein, damit sichergestellt ist, dass
        du es richtig eingetippt hast.
    </div>
</article>
{% endif %}
{% endblock %}

{% block form %}
{% if validlink %}
<form class="box" method="post">
    {% csrf_token %}

    <input name="username" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">

    <div class="field">
        <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        <div class="control">
            {{ form.new_password1 }}
        </div>
        {% for error in form.new_password1.errors %}
        <p class="help is-danger">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <div class="field">
        <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        <div class="control">
            {{ form.new_password2 }}
        </div>
        {% for error in form.new_password2.errors %}
        <p class="help is-danger">
            {{ error }}
        </p>
        {% endfor %}
    </div>

    <button class="button is-primary" type="submit">Passwort ändern</button>
</form>
{% endif %}
{% endblock %}
