{% extends 'base.html' %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file-input.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="notification is-info">
        <button class="delete"></button>
        <strong>Datenschutz-Hinweis</strong><br>
        Wir speichern deine E-Mail-Adresse für maximal 6 Monate, um dich zu benachrichtigen, falls du bei der Verlosung
        gezogen wurdest. Deine Daten werden nicht an Dritte weitergegeben und von uns vertraulich behandelt! Nach
        Ablauf der Frist löschen wir deine personenbezogenen Daten unwiderruflich von unseren Servern.
    </div>
    <div class="box">
        <h1 class="title is-4">Einreichung von Gedächtnisprotokollen</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'forms/snippet_input.html' with field=form.author %}

            {% include 'forms/snippet_input.html' with field=form.course %}

            {% include 'forms/snippet_input.html' with field=form.lecturer %}

            {% include 'forms/snippet_input.html' with field=form.date %}

            {% include 'forms/snippet_file.html' with field=form.file %}

            <div class="field">
                <label class="label" for="{{ form.privacy.id_for_label }}">{{ form.privacy.label }}</label>
                <label class="checkbox">
                    {{ form.privacy }}
                    Ich akzeptiere die <a href="https://stura-md.de/datenschutz/">Datenschutz-Erklärung</a> und bin mit der Verarbeitung meiner personenbezogenen Daten einverstanden.
                </label>
                {% for error in form.privacy.errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            {% include 'forms/snippet_submit.html' with submit="Einreichen" %}
        </form>
    </div>
</div>
{% endblock %}