<div class="card">{% load i18n %}
    <div class="card-image">
        <figure class="image is-square">
            <img src="{{ member.picture.url }}" alt="Picture of {{ member.user.first_name }}">
        </figure>
    </div>

    <div class="card-content">
        <p class="title is-4">{{ member.user.first_name }}</p>

        <p class="subtitle is-6">
            {{ member.get_course_display }} ({{ member.get_degree_display_short }})
        </p>

        {% if member.biography %}
            <p class="is-italic has-text-centered">{{ member.biography }}</p>
        {% endif %}

        {% if member.jobs %}
            <ul class="mt-5">
                {% for job in member.get_job_list %}
                    <li>{{ job }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="card-footer">
        <p class="card-footer-item">
            <span class="help">
                {% trans "Member since" %}: {{ member.joined_at|timesince }}
            </span>
        </p>
    </div>
</div>