{% extends 'base.html' %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file-input.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container is-max-desktop">
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-square">
                <img src="{{ user.profile.picture.url }}" alt="Profile picture">
            </figure>
        </div>

        <div class="column">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'forms/snippet_input.html' with field=form.first_name %}

                {% include 'forms/snippet_input.html' with field=form.last_name %}

                {% include 'forms/snippet_file.html' with field=form.picture upload_id="file-upload" %}

                {% include 'forms/snippet_textarea.html' with field=form.biography %}

                {% include 'forms/snippet_input.html' with field=form.jobs %}

                {% include 'forms/snippet_select.html' with field=form.course %}

                {% include 'forms/snippet_select.html' with field=form.degree %}

                {% include 'forms/snippet_input.html' with field=form.birthday %}

                {% include 'forms/snippet_input.html' with field=form.joined_at %}

                {% include 'forms/snippet_submit.html' with submit="Speichern" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
