{% extends 'base.html' %}

{% block body_scripts %}
<script>
const fileInput = document.querySelector('#file-upload input[type=file]');
fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file-upload .file-name');
        fileName.textContent = fileInput.files[0].name;
    }
}
</script>
{% endblock %}

{% block content %}
<div class="container is-max-desktop">
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-square">
                <img src="{{ user.profile.picture.url }}" alt="Profile picture">
            </figure>
        </div>

        <div class="column">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'forms/snippet_input.html' with field=form.first_name %}

                {% include 'forms/snippet_input.html' with field=form.last_name %}

                {% include 'forms/snippet_file.html' with field=form.picture upload_id="file-upload" %}

                {% include 'forms/snippet_textarea.html' with field=form.biography %}

                {% include 'forms/snippet_input.html' with field=form.jobs %}

                {% include 'forms/snippet_select.html' with field=form.course %}

                {% include 'forms/snippet_select.html' with field=form.degree %}

                {% include 'forms/snippet_input.html' with field=form.birthday %}

                {% include 'forms/snippet_input.html' with field=form.joined_at %}

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">
                            Speichern
                        </button>
                    </div>
                    {% for error in form.non_field_errors %}
                    <p class="help is-danger">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
