{% for error in errors %}
    <p class="block has-text-danger">
        {{ error }}
    </p>
{% endfor %}

{% if errors and not fields %}
    <p class="block has-text-danger">
        {% for field in hidden_fields %}
            {{ field }}
        {% endfor %}
    </p>
{% endif %}

{% for field, errors in fields %}
    {{ classes }}

    {% if forloop.first %}
        {% for field in hidden_fields %}
            {{ field }}
        {% endfor %}
    {% endif %}

    <div class="field">
        {% if field.label %}
            {{ field.label_tag }}
        {% endif %}

        <div class="control">
            {{ field }}
        </div>

        {% if field.help_text %}
            <div class="help">
                {{ field.help_text|safe }}
            </div>
        {% endif %}

        <p class="help is-danger">
            {{ errors }}
        </p>
    </div>
{% endfor %}

{% if not fields and not errors %}
    {% for field in hidden_fields %}
        {{ field }}
    {% endfor %}
{% endif %}
