{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Internal" %}{% endblock %}

{% block page %}
    {% include 'layout/navigation.html' %}

    <div class="internal-banner is-fullwidth">
        <div>
            {% trans "Non-public site" %}
        </div>
    </div>

    {% include 'layout/notifications.html' %}

    {% block section %}
        <section class="section">
            <div class="container">
                {% block column %}
                    <div class="container is-max-desktop">
                        {% block container %}{% endblock %}
                    </div>
                {% endblock column %}
            </div>
        </section>
    {% endblock section %}
{% endblock page %}
