{% load static %}

<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <h4 class="title is-4">Hochschule</h4>

                    <p class="has-text-link"><a href="https://www.ovgu.de" target="_blank">Universität</a></p>
                    <p class="has-text-link"><a href="https://stura-md.de" target="_blank">Studierendenrat</a></p>
                    <p class="has-text-link"><a href="https://www.fmb.ovgu.de" target="_blank">Fakultät Maschinenbau</a></p>
                </div>
            </div>

            <div class="column is-4">
                <div class="content">
                    <h4 class="title is-4">Social Media</h4>

                    <p class="has-text-link">
                        <a class="icon-text" href="https://www.instagram.com/farafmb_ovgu/" target="_blank">
                            <span class="icon">
                                <i class="fab fa-instagram fa-lg fa-fw"></i>
                            </span>
                            <span>Instagram</span>
                        </a>
                    </p>

                    <p  class="has-text-link">
                        <a class="icon-text" href="https://www.facebook.com/farafmb" target="_blank">
                            <span class="icon">
                                <i class="fab fa-facebook fa-lg fa-fw"></i>
                            </span>
                            <span>Facebook</span>
                        </a>
                    </p>

                    <p  class="has-text-link">
                        <a class="icon-text" href="https://discord.gg/m9SutXWdnc" target="_blank">
                            <span class="icon">
                                <i class="fab fa-discord fa-lg fa-fw"></i>
                            </span>
                            <span>Discord</span>
                        </a>
                    </p>

                    <p  class="has-text-link">
                        <a class="icon-text" href="https://farafmb.slack.com/" target="_blank">
                            <span class="icon">
                                <i class="fab fa-slack fa-lg fa-fw"></i>
                            </span>
                            <span>Slack</span>
                        </a>
                    </p>

                    <!--
                    <p  class="has-text-link">
                        <a class="icon-text" href="https://t.me/farafmb" target="_blank">
                            <span class="icon">
                                <i class="fab fa-telegram fa-lg fa-fw"></i>
                            </span>
                            <span>Telegram</span>
                        </a>
                    </p>
                    -->
                </div>
            </div>

            <div class="column is-4">
                <div class="content">
                    <h4 class="title is-4">Rechtliches</h4>

                    <p class="has-text-link"><a href="https://stura-md.de/impressum/" target="_blank">Impressum</a></p>
                    <p class="has-text-link"><a href="https://stura-md.de/datenschutz/" target="_blank">Datenschutz</a></p>
                    <p class="is-size-7">&#169; 2018 - {% now 'Y' %} Fachschaftsrat Maschinenbau</p>
                </div>
            </div>
        </div>
    </div>
</footer>
