{% load static %}

<div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-container-small">
        <hr>
        <div class="uk-flex-center uk-child-width-1-4@s uk-text-center uk-text-right@s uk-link-text" uk-grid>
            <div class="uk-visible@s uk-text-left">
                <img data-src="{% static 'img/logo.png' %}" width="133" height="133" alt="Logo" uk-img>
            </div>
            <div>
                <ul class="uk-nav">
                    <li class="uk-nav-header">Struktur</li>
                    <li><a href="https://www.ovgu.de" target="_blank">Universität</a></li>
                    <li><a href="https://www.fmb.ovgu.de" target="_blank">Fakultät</a></li>
                    <li><a href="https://stura-md.de" target="_blank">Studierendenrat</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav">
                    <li class="uk-nav-header">Nützliches</li>
                    <li><a href="https://wiki.faking.cool">Wikipedia</a></li>
                    <li><a href="https://cloud.faking.cool">Nextcloud</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-nav">
                    <li class="uk-nav-header">Rechtliches</li>
                    <li><a href="https://stura-md.de/impressum/" target="_blank">Impressum</a></li>
                    <li><a href="https://stura-md.de/datenschutz/" target="_blank">Datenschutz</a></li>
                </ul>
            </div>
        </div>
        <nav class="uk-navbar-container uk-navbar-transparent uk-visible@m" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    {% include 'social_media.html' %}
                </ul>
            </div>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="https://github.com/aiventimptner/" target="_blank">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/aiventimptner" target="_blank">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                &#169; {% now 'Y' %} Fachschaftsrat Maschinenbau
            </div>
        </nav>
        <p class="uk-text-center uk-text-muted uk-text-small uk-padding-small uk-hidden@m">
            &#169; {% now 'Y' %} Fachschaftsrat Maschinenbau
        </p>
    </div>
</div>
