<div class="navigation">{% load i18n %}

    <a role="button" class="menu-burger" aria-label="menu" aria-expanded="false" data-target="adminNavigation">

        <span class="icon-text">
            <span class="icon">
                <i class="fas fa-hamburger"></i>
            </span>
            <span>{% trans "Show menu" %}</span>
        </span>

        <span class="icon-text is-hidden">
            <span class="icon">
                <i class="fas fa-times"></i>
            </span>
            <span>{% trans "Hide menu" %}</span>
        </span>

    </a>

    <aside class="menu pb-3" id="adminNavigation">

        <ul class="menu-list">

            {% include 'components/menu-item.html' with url='https://docs.farafmb.de' icon='fas fa-book' name='BookStack' %}
            {% include 'components/menu-item.html' with url='https://farafmb.slack.com' icon='fab fa-slack' name='Slack' %}
            {% include 'components/menu-item.html' with url='https://discord.gg/m9SutXWdnc' icon='fab fa-discord' name='Discord' %}

            {% url 'admin:index' as admin_url %}
            {% trans "Adminstration" as name %}
            {% include 'components/menu-item.html' with url=admin_url icon='fas fa-tools' name=name %}

        </ul>

        <p class="menu-label">{% trans "Account" %}</p>
        <ul class="menu-list">

            <li><a href="{% url 'members:profile_form' %}">{% trans "Profile" %}</a></li>

        </ul>

        <p class="menu-label">{% trans "Members" %}</p>
        <ul class="menu-list">

            <li><a href="{% url 'members:create_user' %}">
                <span class="icon-text">
                    <span>{% trans "Create new" %}</span>
                    {% if not perms.auth.add_user %}
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    {% endif %}
                </span>
            </a></li>

        </ul>

        <p class="menu-label">{% trans "Mentoring" %}</p>
        <ul class="menu-list">

            <li>
                <a href="{% url 'mentoring:program-list' %}">
                    {% trans "Study programs" %} <span class="tag is-dark">{% trans "New" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'mentoring:mentor-list' %}">
                    {% trans "Mentors" %} <span class="tag is-dark">{% trans "New" %}</span>
                </a>
            </li>

        </ul>


        <p class="menu-label">{% trans "Events" %}</p>
        <ul class="menu-list">

            <li><a href="{% url 'events:events' %}">{% trans "Overview" %}</a></li>

        </ul>

    </aside>

</div>
