{% load static %}

<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-padding-small" href="{% url 'blog:posts' %}">
            <img data-src="{% static 'img/logo.png' %}" width="60" height="60" alt="Logo" uk-img>
        </a>
        <a class="uk-navbar-item uk-logo uk-padding-small" href="https://www.ovgu.de" target="_blank">
            <img data-src="{% static 'img/ovgu.png' %}" width="120" height="60" alt="OVGU" uk-img>
        </a>
        <a class="uk-navbar-item uk-logo uk-padding-small" href="https://www.fmb.ovgu.de" target="_blank">
            <img data-src="{% static 'img/fmb.png' %}" width="60" height="60" alt="FMB" uk-img>
        </a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@m">
            {% include 'links.html' %}
        </ul>
        <a class="uk-navbar-toggle uk-hidden@m" href="#mobile-navigation" uk-toggle>
            <span class="uk-margin-small-right">Menu</span>
            <span uk-navbar-toggle-icon></span>
        </a>
    </div>
</nav>

<div id="mobile-navigation" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header uk-hidden@m">Navigation</li>
            {% include 'links.html' %}
        </ul>
        <ul class="uk-navbar-nav uk-navbar-transparent uk-position-bottom uk-flex-center">
            {% include 'social_media.html' %}
        </ul>
    </div>
</div>
