{% load static %}
<div class="uk-section uk-section-default uk-padding-remove-vertical">
    <div class="uk-container uk-container-small">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{% url 'blog:index' %}">
                    <img data-src="{% static 'img/logo.png' %}" width="50" height="50" alt="Logo" uk-img>
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li><a href="{% url 'blog:posts' %}">Blog</a></li>
                    <li><a href="{% url 'blog:office_hours' %}">Sprechzeiten</a></li>
                </ul>
                <a class="uk-navbar-toggle uk-hidden@m" href="#">
                    <span class="uk-margin-small-right">Menu</span>
                    <span uk-navbar-toggle-icon></span>
                </a>
            </div>
        </nav>
    </div>
</div>
