{% load static %}

<div class="uk-section uk-section-default uk-padding-remove-vertical">
    <div class="uk-container uk-container-small">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{% url 'blog:index' %}">
                    <img data-src="{% static 'img/logo.png' %}" width="50" height="50" alt="Logo" uk-img>
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    {% include 'links.html' %}
                </ul>
                <a class="uk-navbar-toggle uk-hidden@m" href="#mobile-navigation" uk-toggle>
                    <span class="uk-margin-small-right">Menu</span>
                    <span uk-navbar-toggle-icon></span>
                </a>
            </div>
        </nav>
    </div>
</div>

<div id="mobile-navigation" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default">
            {% include 'links.html' %}
        </ul>
    </div>
</div>
