<li>
    <a href="https://www.instagram.com/farafmb_ovgu/" target="_blank">
        <i class="fab fa-instagram fa-2x"></i>
    </a>
</li>
<li>
    <a href="https://www.facebook.com/farafmb" target="_blank">
        <i class="fab fa-facebook-square fa-2x"></i>
    </a>
</li>
<li>
    <a href="https://t.me/farafmb" target="_blank">
        <i class="fab fa-telegram fa-2x"></i>
    </a>
</li>
<li>
    <a href="https://farafmb.slack.com/" target="_blank">
        <i class="fab fa-slack fa-2x"></i>
    </a>
</li>