{% load static i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{% block title %}FaRaFMB{% endblock %}</title>

    <!-- Favicon -->
    <link href="{% static 'favicon/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="{% static 'favicon/apple-touch-icon-152x152.png' %}" rel="apple-touch-icon-precomposed" sizes="152x152">
    <link href="{% static 'favicon/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'favicon/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
    <meta content="FaRaFMB" name="application-name">
    <meta content="#ffffff" name="msapplication-TileColor">
    <meta content="{% static 'favicon/mstile-144x144.png' %}" name="msapplication-TileImage">

    <!-- CSS -->
    {% block style %}
        <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/bulma-list.css' %}" rel="stylesheet" type="text/css">
    {% endblock style %}

    <!-- Scripts -->
    {% block scripts %}
        <script src="{% static 'js/font-awesome.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/navbar-burger.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/navbar-active.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/close-notification.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/menu-burger.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/active_menu.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/active_tabs.js' %}" type="text/javascript"></script>
    {% endblock scripts %}
</head>
<body>
{% block page %}
    {% block body %}
        {% include 'layout/navigation.html' %}

        {% block notifications %}{% include 'layout/notifications.html' %}{% endblock %}

        {% block section %}
            <section class="section">
                <div class="container">
                    <div class="columns">
                        {% if user.is_authenticated %}
                            <div class="column is-narrow">
                                {% include 'layout/menu.html' %}
                            </div>
                        {% endif %}

                        <div class="column">
                            {% block content-fullwidth %}
                                <div class="container is-max-desktop">
                                    {% block content %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block footer %}{% include 'layout/footer.html' %}{% endblock %}
    {% endblock %}
{% endblock page %}

<!-- Site Tracking -->
<noscript>
    <img src="https://stats.farafmb.de/ingress/66e22ed6-3e33-484a-a467-254659d9f25c/pixel.gif">
</noscript>
<script defer src="https://stats.farafmb.de/ingress/66e22ed6-3e33-484a-a467-254659d9f25c/script.js"></script>

</body>
</html>
