{% extends 'base.html' %}

{% load markdown static %}

{% block content %}
    <div class="container is-max-desktop">
        <p class="title">Who we are</p>

        <div class="content">
            {{ text|render_html }}
        </div>

        <div class="is-pulled-right" style="margin-top: -64px;">
            <figure class="image is-64x64">
                <img src="{% static 'img/osterei.svg' %}">
            </figure>
        </div>

        {% if image %}
            <figure class="image">
                <img src="{{ image }}" alt="Image with all team members">
            </figure>
        {% endif %}
    </div>
{% endblock %}
