{% extends 'base.html' %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/file-input.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        <div class="box">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% include 'forms/snippet_file.html' with field=form.file %}

                {% include 'forms/snippet_submit.html' with submit="Hochladen" %}
            </form>
        </div>
    </div>
{% endblock %}
