{% extends 'base.html' %}

{% load markdown %}

{% block content %}
    <div class="container">
        <div class="notification">
            Schaut gerne auch auf dem Schwarzen Brett im
            <a href="https://www.fmb.ovgu.de/myFMB/Schwarzes+Brett.html" target="_blank">MyFMB</a> oder dem
            <a href="https://www.ovgu.de/jobteaser.html" target="_blank">Jobportal der Universität</a> vorbei. Dort
            findet ihr ebenfalls diverse Angebote für Abschlussarbeiten, HiWi-Stellen, Praktika oder Jobangebote für
            Absolvent:innen.
        </div>

        <div class="buttons">
            {% for group in groups %}
                {% if request.GET.group == group.0 %}
                    <a class="button is-active" href="?group={{ group.0 }}">{{ group.1 }}</a>
                {% else %}
                    <a class="button" href="?group={{ group.0 }}">{{ group.1 }}</a>
                {% endif %}
            {% endfor %}

            {% if request.GET.group %}
                <a class="button is-text" href="{% url 'jobs:job_list' %}">Filter löschen</a>
            {% endif %}
        </div>

        <div class="columns is-multiline is-centered">

            {% for job in object_list %}
                <div class="column is-half">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-size-5">{{ job.title }}</p>
                        </header>

                        <div class="card-content">
                            <div class="content">
                                {{ job.desc|render_html }}
                            </div>

                            {% if job.document_set.exists %}
                                <article class="panel">
                                    <p class="panel-heading is-size-6">Dokumente</p>
                                    {% for document in job.document_set.all %}
                                        <a class="panel-block" href="{{ document.file.url }}">
                                            <span class="panel-icon">
                                                <i class="fas fa-file-pdf" aria-hidden="true"></i>
                                            </span>
                                            {{ document.title }}
                                        </a>
                                    {% endfor %}
                                </article>
                            {% endif %}
                        </div>

                        <footer class="card-footer is-size-7">
                            <p class="card-footer-item">
                                <span>Verfügbar seit {{ job.created_on }}</span>
                            </p>
                            {% if job.expired_on %}
                                <p class="card-footer-item has-text-danger">
                                    <span>Gültig bis {{ job.expired_on }}</span>
                                </p>
                            {% endif %}
                        </footer>
                    </div>
                </div>
            {% empty %}
                <div class="column is-half">
                    <div class="notification is-info is-centered">
                        Leider haben wir aktuell keine Jobangebote für euch.
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
